/* ----------- Colours ----------- */

.nav-links {
    background-color: #f0f8ff
}

/* ----------- Header ----------- */

#navbarstyle {
    background-color: #1A535C !important;
    color: #F7FFF7;
    font-family: 'Montserrat', sans-serif;
}

#navbarstyle .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5em 0;
}

#navbarstyle .nav-item a {
    color: #fff; 
}

#navbarstyle .nav-item.active a {
    text-decoration: underline;
    font-weight: 600;
}

/* ----------- General ----------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 8rem;
    font-family: 'Montserrat', sans-serif; 
}

.page-heading {
    margin-top: 16px;
    
    padding-left: 32px;
}

.page-text {
    width: 100%;
    padding: 2em;
}

section {
    margin-top: 75px;
}

.heading-container {
    padding-top: 1em;
    margin: 0;
}

.spacer-row {
    height: 50px;
}
.btn {
    background: #FF6B6B !important;
    border-radius: 0 !important;
    border: none;
}

button.btn:hover {
    color: black;
}

/* ------- Back to Top -------- */

#back-to-top {
    width: 4em;
    height: 4em;

    background: #000;
    opacity: 0.5;
    position: fixed;

    bottom: 3em;
    right: 3em;

    display: none;
    justify-content: center;
    align-items: center;

    border-radius: 1em;

    z-index: 1337;
}

#back-to-top .fas {
    color: white;
    font-size: 2.5em;
}

#back-to-top div {
    position: absolute;
    top: -1.7em;
    opacity: 1;
    width: 6em;
    text-align: center;
    font-size: 14px;
    color: #000;
}

#back-to-top:hover {
    background: #FF6B6B;
    opacity: 1;
    text-decoration: none;
}

#back-to-top:hover div {
    color: #FF6B6B;
}

#back-to-top.show {
    display: flex;
}

@media (max-width: 576px) {  

#back-to-top div {
    display: none;
}

}

/* ----------- Home ----------- */

#hero-image {
    position: relative;
}

#hero-image img {
    width: 100%;
}

#home-blurb {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.35);
    color: white;
}

#home-blurb .row {
    margin: 0;
    text-align: center;
}

.about-container .row {
    padding: 2em;
}

.paw-list {
    margin-top: 30px;
    font-size: 20px;
}

.paw-list:first-child {
    margin-top: 0;
}

.paw-list span:first-child {
    color: #1A535C;
}

#carousel-row {
    background: #333;
}

#carousel-row .row {
    padding: 1em;
}

#carousel-row .row:first-child {
    justify-content: center;
}

#carousel-controls {
    width: 100%;
}

.card {
    border: none;
}

.card-style {
    width: 60%;
    height: 22em;
    margin: auto;
    background: #FFE66D;
    border-radius: 0;
}

.card-image {
    width: 150px;
    height: 150px;

    background-position: 50% 50%;
    background-size: cover;

    border-radius: 100px;
}

.card-text {
    font-style: italic;
}

.card-title {
    font-weight: bold;
}

.about-container .heading-row {
    justify-content: center;
    padding-bottom: 0;
}

.green-bold {
    color: #1A535C;
    font-weight: bold;
}

.team-name {
    margin: 1em 0;
    text-align: center;
}

@media (max-width: 768px) {  

#home-blurb {
    font-size: 1.5em;
}

}


@media (max-width: 576px) {  

/* For removing image on non-home pages on mobile */
#sidebar div img {
    display: none;
}

/* For resizing carousel on mobile */
#carousel-row {
    padding: 0;
}

#carousel-row .card {
    width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(1);
}

}

/* ----------- Services ----------- */

.service-description {
    padding: 1em 0;
}

.services-row {
    display: inline;
}

/* change h5 to somthing more specific */
h5 {
    text-align: left;
}

.services-right {
    text-align: left;
}

.service-icons {
    font-size: 8px;
    font-weight: bold;
}

.nopad-col {
    padding: 0;
}

.services-right .list-inline-item {
    text-align: center;
}

.services-right .list-inline-item div:first-child {
    color: #1A535C;
}

#services-page #main-content  {
    padding: 2em;
}

@media (min-width: 576px) {  

.services-right {
    text-align: right;
}

}

/* ----------- Bookings ----------- */

#sidebar div img {
    width: 100%;
    padding: 2em;
}

#main-content {
    padding: 0;
}

#main-content form {
    padding: 2em;
    background: #F2F3F4;
}

#main-content .form-group {
    justify-content: center;
    margin: 0 0 1em 0;
}

#main-content .form-group:last-child {
    text-align: right;
    margin: 0;
}

.req {
    margin: 10px;
    font-weight: bold;
    color: #FF6B6B;
}

.hard-corners {
    border-radius: 0;
}

#inputExtra {
    height: 150px;
    resize: none;
}

/* Remove form padding on mobile */

@media (min-width: 576px) {  

#main-content  {
    padding: 2em;
}

}


/* ----------- Location ----------- */

.location {
    min-height: 200px;
    margin: 0;
    padding: 0;
}

#location-page #main-content {
    text-align: center;
}

#location-page iframe {
    width: 100%;
    height: 100%;
    padding: 2em;
    border: none;
}

/* ----------- Gallery ----------- */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100%;
}
/* add mediaqueries */

/* ----------- Footer ----------- */

footer {
    background-color: #1A535C;
    color: #F7FFF7;
    position: absolute;
    bottom: 0;
    height: 8em;
    width: 100%;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.footer-icon {
    font-size: 20px;
    color: #F7FFF7;
}

.footer-line {
    margin: 0.5em;
}

.footer-bold {
    font-weight: bold;
}

.footer-separator {
    color: gray;
    margin: 0 0.5em;
}

footer ul.list-inline {
    margin: 0;
}
