

/* ----------- Colours ----------- */

.nav-links {
    background-color: #f0f8ff
}

/* ----------- Header ----------- */

#navbarstyle {
    height: 80px;
    background-color: #1A535C !important;
    color: #F7FFF7;
    font-family: 'Montserrat', sans-serif;
}

#navbarstyle .navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
}

#navbarstyle .nav-item a {
    color: #fff; 
}

#navbarstyle .nav-item.active a {
    text-decoration: underline;
    font-weight: 600;
}

.list-inline  {
    align-content: right;
}


/* ----------- General ----------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif; 
}

.page-heading{
    margin-top: 8px;
    
    padding-left: 46px;
}

.page-text {
    width: 100%;
    padding: 2em;
}

section {
    margin-top: 80px;
}

.heading-container {
    padding-top: 1em;
    margin: 0;
}

/* ----------- Home ----------- */

#hero-image {
    position: relative;
}

#hero-image img {
    width: 100%;
}

#home-blurb {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.25);
    color: #F7FFF7;
}

#home-blurb .row {
    margin-left: 2em;
}

.about-container {
    margin: auto;
    padding: 60px 0;
    max-width: 75%;
    }

.paw-list {
    margin-top: 20px;
}

.paw-list span {
    color: #1A535C;
}


.card-style {
    width: 18rem;
    margin: auto;
}

/* ----------- Services ----------- */

.service-box {
    padding: 2em;
}

.service-description {
    padding: 1em 0;
}

.services-row {
    display: inline;
}

/* change h5 to somthing more specific */
h5 {
    text-align: left;
}

.services-right {
    text-align: right;
}

.service-icons {
    margin: 0;
}

.nopad-col {
    padding: 0;
}

.service-icons li i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
}


/* ----------- Bookings ----------- */

#booking-container{
    margin-left: 0;
}

#booking-left div img {
    width: 100%;
    padding: 2em;
}

#booking-form {
    margin-top: 2em;
}

#booking-form .form-group {
    justify-content: flex-end;
    margin: 0 0 1em 0;
}

#booking-form .form-group:last-child {
    text-align: right;
}

#inputExtra {
    height: 150px;
    resize: none;
}

.location-left {
    background-color: yellow;
}

.location-right {
    background-color: grey;
}

.location {
    min-height: 200px;
    margin: 0;
    padding: 0;
}

/* ----------- Gallery ----------- */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100%;
}
/* add mediaqueries */

/* ----------- Footer ----------- */

footer {
    background-color: #1A535C;
    color: #F7FFF7;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 3px;
    margin: 3px 0;
    text-align: center;
    margin-bottom: 0;
}

.footer-icon {
    font-size: 20px;
    color: #F7FFF7;
}

.footer-line {
    padding-top: 1em;
}
