

/* ----------- Colours ----------- */

.nav-links {
    background-color: #f0f8ff
}

.list-inline  {
    align-content: right;
}

.logo {
    background-color: #ff0000;
    font-size: 30px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("/assets/images/dummyhero.jpg") center;
}

.home-blurb {
    background-color: yellow;
    min-height: 180px;
}

.booking-form {
    max-width: 350px;
    align-self: center;
}

.location-left {
    background-color: yellow;
}

.location-right {
    background-color: grey;
}

.location {
    min-height: 200px;
    margin: 0;
    padding: 0;
}

/* ----------- Gallery ----------- */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100%;
}
/* add mediaqueries */

/* ----------- Footer ----------- */

footer {
    background-color: #00e1ff;
    min-height: 100px;
    padding: 3px;
    margin: 3px 0;

}